@model EntityFrameworkExample.Models.BarrelAndCubeWrapper

@{
    ViewBag.Title = "Archived";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/Main.js"></script>
</head>

<h2>Archived</h2>

<h3>Barrels</h3>
<table class="table" id="indexTableBarrel">
    <tr>
        <th onclick="sortTable(0, 0)">
            @Html.DisplayName("Radius")
        </th>
        <th onclick="sortTable(1, 0)">
            @Html.DisplayName("Height")
        </th>
        <th onclick="sortTable(2, 0)">
            @Html.DisplayName("Weight")
        </th>
        <th onclick="sortTable(3, 0)">
            @Html.DisplayName("Construction Material")
        </th>
        <th onclick="sortTable(4, 0)">
            @Html.DisplayName("Contents")
        </th>
        <th onclick="sortTable(5, 0)">
            @Html.DisplayName("Current Location")
        </th>
        <th onclick="sortTable(6, 0)">
            @Html.DisplayName("Date Created")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.barrels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Unarchive", "Unarchive", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<h3>Cubes</h3>
<table class="table" id="indexTableCube">
    <tr>
        <th onclick="sortTable(0, 1)">
            Side Length
        </th>
        <th onclick="sortTable(1, 1)">
            Weight
        </th>
        <th onclick="sortTable(2, 1)">
            Construction Material
        </th>
        <th onclick="sortTable(3, 1)">
            Contents
        </th>
        <th onclick="sortTable(4, 1)">
            Current Location
        </th>
        <th onclick="sortTable(5, 1)">
            Date Added
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.cubes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SideLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Unarchive", "CubeUnarchive", new { id = item.Id })
            </td>
        </tr>
    }

</table>
