@model EntityFrameworkExample.Models.BarrelAndCubeWrapper

@{
    ViewBag.Title = "Archived";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>

<h2>Archived</h2>

<h3>Barrels</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Radius")
        </th>
        <th>
            @Html.DisplayName("Height")
        </th>
        <th>
            @Html.DisplayName("Weight")
        </th>
        <th>
            @Html.DisplayName("Construction Material")
        </th>
        <th>
            @Html.DisplayName("Contents")
        </th>
        <th>
            @Html.DisplayName("Current Location")
        </th>
        <th>
            @Html.DisplayName("Date Created")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.barrels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Unarchive", "Unarchive", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<h3>Cubes</h3>
<table class="table" id="archiveCubeTable">
    <tr>
        <th>
            Side Length
        </th>
        <th>
            Weight
        </th>
        <th>
            Construction Material
        </th>
        <th>
            Contents
        </th>
        <th>
            Current Location
        </th>
        <th>
            Date Added
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.cubes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SideLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Unarchive", "CubeUnarchive", new { id = item.Id })
            </td>
        </tr>
    }

</table>
