@model EntityFrameworkExample.Models.Barrel

@{
    ViewBag.Title = "Creating Barrel";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <!--Title, if any-->
                    </div>
                        <h4>Creating Barrel</h4>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!--SubTitle, if any-->
                </div>
                    </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                        <!--Editing Information-->

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-sm-4">
                                    Radius
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    Height
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    Weight
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    Construction Material
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ConstructionMaterial, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConstructionMaterial, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    Contents
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    Current Location
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.CurrentLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CurrentLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <!--Create Button-->
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div class="col-sm-4">
                            <!--Back to List Button-->
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
