@model EntityFrameworkExample.Models.Barrel

@{
    ViewBag.Title = "Creating Barrel";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<head>
    <link rel="stylesheet" href="StyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<h2>Create a Barrel</h2>
    <h2>  </h2>
    <h2> </h2>
    <div class="container" style="color:#8B92B3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <!--Editing Information-->

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-sm-4" style="font-size:15px">
                                    Radius (Feet)
                                </div>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4" style="font-size:15px">
                          
                                        Height (Feet)
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4" style="font-size:15px">
                                        Weight (Pounds)
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @type = "number", min = 0 } })
                                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4" style="font-size:15px">
                                        Construction Material
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.ConstructionMaterial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConstructionMaterial, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4" style="font-size:15px">
                                        Contents
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4" style="font-size:15px">
                                        Current Location
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.CurrentLocation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CurrentLocation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <!--Create Button-->
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div class="col-sm-4">
                            <!--Back to List Button-->
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
