@model EntityFrameworkExample.Models.BarrelWrapper

@{
    ViewBag.Title = "Barrel Details";
}
<br />
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<div>
    <h2> DETAILS </h2>
    <h4>Barrel's Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Radius:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Radius)
        </dd>
        <dt>
            @Html.DisplayName("Height:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Height)
        </dd>
        <dt>
            @Html.DisplayName("Weight:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Weight)
        </dd>
        <dt>
            @Html.DisplayName("Construction Material:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.ConstructionMaterial)
        </dd>
        <dt>
            @Html.DisplayName("Contents:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Contents)
        </dd>
        <dt>
            @Html.DisplayName("Current Location:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.CurrentLocation)
        </dd>
        <dt>
            @Html.DisplayName("Date Created:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.DateCreated)
        </dd>
        <dt>
            Volume:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>
        <dt>
            Duration:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.barrel.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>