@model EntityFrameworkExample.Models.BarrelWrapper

@{
    ViewBag.Title = "Barrel Details";
}
<br />
<div>
    <h4>Barrel's Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.barrel.Radius) (feet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Radius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.barrel.Height) (feet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.barrel.Weight) (pounds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Weight)
        </dd>
        <dt>
            @Html.DisplayName("Construction Material")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.ConstructionMaterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.barrel.Contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.Contents)
        </dd>
        <dt>
            @Html.DisplayName("Current Location")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.CurrentLocation)
        </dd>
        <dt>
            @Html.DisplayName("Date Created")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.barrel.DateCreated)
        </dd>
        <dt>
            Volume (feet<sup>3</sup>)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volume) (feet <sup>3</sup>)
        </dd>
        <dt>
            Duration
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.barrel.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>