@model IEnumerable<EntityFrameworkExample.Models.Barrel>

@{
    ViewBag.Title = "Barrel Storage";
}
    <head>
        <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    </head>

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Barrel", "Create")
</p>
<button name="viewReset">Reset View</button>
<table class="table" id="indexTable">
    <tr>
        <th onclick="sortTable(0)">
            Radius
        </th>
        <th onclick="sortTable(1)">
            Height
        </th>
        <th onclick="sortTable(2)">
            Weight
        </th>
        <th onclick="sortTable(3)">
            Construction Material
        </th>
        <th onclick="sortTable(4)">
            Contents
        </th>
        <th onclick="sortTable(5)">
            Current Location
        </th>
        <th onclick="sortTable(6)">
            Date Added
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("indexTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n].innerHTML;
                y = rows[i + 1].getElementsByTagName("TD")[n].innerHTML;
                if (dir == "asc") {
                    if ((!isNaN(Number(x)) && Number(x) > Number(y)) ||
                        (Date.parse(x) instanceof Date && Date(x) > Date(y)) ||
                        (x.trim().toLowerCase() > y.trim().toLowerCase())) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if ((Number.parseFloat(x) instanceof Number && Number(x) < Number(y)) ||
                        (Date.parse(x) instanceof Date && Date(x) < Date(y)) ||
                        (x.trim().toLowerCase() < y.trim().toLowerCase())) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
